nav {
  gap: 20px;
  height: 105px;
  ul {
    li {
      a {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0 25px;
      }
    }
  }
}

.navbar {
  &-brand {
    width: 200px;
  }
}
